* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    font-size: 62.5%;
    --background-white: #F9F4FB;
    --background-white-card: #FFF;
    --background-blue: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
    --color-legend-h1: #B52184;
    --color-text-defaul: #312D64;
}

body, textarea, .button{
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
}
h1, legend{
    color: var(--color-legend-h1);
}
p{
    color: var(--color-text-defaul);
}
#astronaut {
    background: var(--background-white);
    height: 100vh;
    padding: 0 3.2rem 9.3rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

#astronaut img{
    width: 100%;
}

#astronaut .text-astronaut h1,
legend {
    font-size: 3.2rem;
    font-weight: 900;
}

#astronaut .text-astronaut{
    color: #312D64;
    font-size: 2.0rem;
    font-weight: 600;
    margin-bottom: 3.5rem;

}
#astronaut img:last-child {
    width: 5.85rem;
    height: 10.5rem;
}

#cards{
    padding: 5.4rem 3.9rem;
    background: var(--background-blue);
    display: grid;
    gap: 5.0rem;
    
}
#cards .card{
    background: var(--background-white);
    padding: 2.7rem;
    border-radius: 2.0rem;
    display: grid;
    gap: 3.3rem;
}
#cards .card div{
    display: grid;
    gap: 2.0rem;
    width: 26.6rem;
}
#cards h1{
    font-size: 3.0rem;
    font-weight: 900;
}
#cards p{
    font-weight: 600;
}
#contact {
    padding: 7.8rem 4.1rem 6.5rem;
}
#contact fieldset{
    border: none;
}
#contact legend{
    margin-bottom: 4.3rem;
}
#contact .fieldset-wrapper{
    display: grid;
    gap: 2.4rem
}
#contact .input-wrapper input,
#contact .textarea-wrapper textarea{
    width: 100%;
    border: 0.15rem solid ;
    border-radius: 1.6rem;
    padding: 1.2rem 1.6rem;
    color: var(--text-base-color);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.6rem;
}
#contact .textarea-wrapper textarea{
    height: 12.6rem;

}
#contact .input-wrapper input::placeholder,
#contact .textarea-wrapper textarea::placeholder{ 
    color: var(--text-base-color);
    font-weight: 500;
    line-height: 2.2rem;
    font-size: 1.6rem;
}
#contact .input-wrapper input::placeholder{
    padding: 2.8rem;
}
#contact .input-wrapper #name{
    background: url(./assets/name-icon.svg) no-repeat 1.4rem center;
}
#contact .input-wrapper #email{
    background: url(./assets/email-icon.svg) no-repeat scroll 1.4rem center;
}
#contact .button{
    border: none;
    margin-top: 2.4rem;
    padding: 1.6rem;
    border-radius: 1.6rem;
    background: linear-gradient(96deg, #343193 0%, #302C63 100%);
    color: var(--background-white);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
footer {
    background: var(--background-blue);
  
    padding: 3.2rem 1.6rem;
  }
  
  footer p {
    color: var(--background-white);
    font-size: 1.9rem;
    line-height: 2.4rem;
    font-weight: 600;
    text-align: center;
  }
